<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicacion.liberman.com.wasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controlador.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlador.Perfil"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".controlador.Login" />
        <activity android:name=".controlador.Apoderado" />
        <activity android:name=".controlador.Movilidad" />
        <activity android:name=".controlador.Profesor" />
        <activity android:name=".controlador.VerHijoApoderado" />
        <activity android:name=".controlador.PermitirSalida" />
        <activity android:name=".controlador.SalidaPermitida" />
        <activity android:name=".controlador.ConfirmarRecogedor" />
        <activity android:name=".controlador.VerHijoMovilidad" />
        <activity android:name=".controlador.VerHijoProfesor"></activity>
    </application>

</manifest>