<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicacion.liberman.com.wasiL2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="aplicacion.liberman.com.wasiL2.controlador.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Perfil"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Login"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Perfil" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Apoderado"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Movilidad"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Profesor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.VerHijoApoderado"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Apoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Apoderado" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.PermitirSalida"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.VerHijoApoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.VerHijoApoderado" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.SalidaPermitida"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.VerHijoApoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.VerHijoApoderado" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.ConfirmarRecogedor"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Apoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Apoderado" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.VerHijoMovilidad"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Movilidad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Movilidad" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.VerHijoProfesor"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Profesor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Profesor" />
        </activity>
        <activity android:name="aplicacion.liberman.com.wasiL2.controlador.LoginFirebase" />
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.VerRegistroSalida"
            android:parentActivityName="aplicacion.liberman.com.wasiL2.controlador.Apoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aplicacion.liberman.com.wasiL2.controlador.Apoderado" />
        </activity>
        <activity
            android:name="aplicacion.liberman.com.wasiL2.controlador.Recogedor"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="aplicacion.liberman.com.wasiL2.controlador.VerHijoRecogedor"></activity>
    </application>

</manifest>